{% set pages = createModel('Routes').whereIn('type',[1,3]) %}
{% set items = paginate(pages,'sitemap') %}

{% for item in items.getItems() %}   
<tr id="{{ item.uuid }}">        
    <td>                    
        {{ url(item.pattern,true) }}
    </td>
    <td>    
        {{ component('system:admin.status.label',{ status: item.status, class: 'basic' }) }}                      
    </td>
    <td>       
        <div class="flex flex-row items-center">
            <div class="badge badge-info badge-sm badge-outline">              
                {{ service('sitemap').getRoutePagesCount(item.toArray()) }}               
            </div>
            {% if item.type == 3 %}
            <div class="ml-1" title="{{ labels.home }}">
                {{ component('icons~home',theme.icons.gray,'svg') }}
            </div>
            {% endif %}
        </div>           
    </td>
    <td class="flex flex-row items-center">
        {% if item.template_name is not empty %}
            {{ component('icons~template',theme.icons.gray,'svg') }}
            <span class="ml-1">
                  {{ item.template_name }}
            </span>          
        {% else %}  
            {{ component('icons~puzzle',theme.icons.gray,'svg') }}
            <span class="ml-1">
                {{ item.extension_name }}
            </span>           
        {% endif %}
    </td>
</tr>
{% endfor %}