{% component 'components:view.rows' %}
    {% set changefreq = getOption('sitemap.changefreq','weekly') %}
    {% set priority = getOption('sitemap.priority','1.0') %}
    {% set sitemap = createModel('SitemapOptions','sitemap') %}
    {% set pages = createModel('Routes').where('type','=',1) %}
    {% set items = paginate(pages,'sitemap') %}
   
    {% for item in items.getItems() %}
    <tr id="{{ item.uuid }}">        
        <td>
           {{ url(item.pattern,true) }}
        </td>
        <td>
           {% set pages = sitemap.getRoutePages(item) %}
           {{ pages|length }}
        </td>
        <td>{{ today()|dateFormat }}</td>
        <td>{{ changefreq }}</td>
        <td>{{ priority }}</td>
        <td>{{ item.extension_name }}</td>
    </tr>
    {% endfor %}
{% endcomponent %}