{% set changefreq = getOption('sitemap.changefreq','weekly') %}
{% set priority = getOption('sitemap.priority','1.0') %}
<div class="ui segment">
    <div class="ui stackable grid">
        <div class="fourteen wide column"> 
            <div class="flex flex-row items-center flex-grow">  
                <a class="ui basic button icon labeled" 
                    title="{{ labels.view }}"
                    href="{{ url('sitemap.xml',true) }}" 
                    target="_blank">
                    <i class="rss square blue icon"></i>
                    {{ buttons.view }}
                </a>  
                <div class="pl-4 pr-2">
                    {{ columns.priority }}
                </div>
                <div clas="pl-2 font-bold">
                    <div class="ui basic label">
                        {{ priority }}
                    </div>
                </div>
                <div class="pl-4 pr-2">
                    {{ columns.changefreq }}
                </div>
                <div clas="px-2 font-bold">
                    <div class="ui basic label">
                        {{ changefreq }}
                    </div>                   
                </div>
            </div> 
        </div>
        <div class="two wide column right aligned">       
            {{ component('semantic~paginator.dropdown',{ namespace: 'sitemap' }) }}
        </div>
    </div>
</div>
<div class="ui segment">
    <table class="ui compact stackable borderless basic table">
        <thead>
            <tr class="table-head">                          
                <th class="ten wide">{{ columns.pattern }}</th>
                <th class="one wide">{{ columns.status }}</th>
                <th class="one wide">{{ columns.page }}</th>
                <th class="collapsing right floated">{{ columns.extension }}</th>                 
            </tr>
        </thead>
        <tbody id="page_rows" component="sitemap::admin.view.rows" namespace="sitemap">
            {{ component('sitemap::admin.view.rows') }}   
        </tbody>  
    </table>
    <div class="mt-2" id="paginator">
        {{ component('semantic~paginator',{ namespace: 'sitemap' }) }}
    </div>
</div>