{{  component('system:admin.tabs',{ 
        items: [
            {  
                svg_icon: 'icons~list', 
                title: labels.pages, 
                active: true, 
                component: 'sitemap::admin.view' 
            },
            { 
                svg_icon: 'icons~cog', 
                title: labels.settings, 
                component: 'sitemap::admin.settings' 
            }
        ],
        menu: { 
            extension: 'sitemap' 
        },
        content: { 
            component: 'sitemap::admin.view' 
        } 
    })
}}
