{% set file_content = service('sitemap').loadRobotsTxt() %}
<div class="flex flex-row items-start">
    <div class="w-1/2">
        <div class="{{ theme.panel }}">
            {% if file_content == null %}
                <button class="{{ theme.buttons.green }} create-file">
                    {{ labels.create }}
                </button>
            {% else %}
                <button class="{{ theme.buttons.green }} save-file">
                    {{ labels.save }}
                </button>
            {% endif %}
        </div>
        <div id="file_content">
            {{ file_content|dump }}
        </div>
    </div>
    <div class="w-1/2 ml-4" id="help_content">
    </div>
</div>